*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background-color: #FAFBF6;
}

/* Navbar styles */
.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1.5rem ;
    width: 100%;
    border-bottom: 1px solid #2C2C2C;
    color: black;
}

.navbar .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img{
    width: 2rem;
    height: 1.7rem;
}

.logo a{
    text-decoration: none;
    font-size:1.5rem;
    font-weight: bold;
    color: inherit;
}

.toggle{
    margin-left: auto;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 10px;
    background-color: inherit;
}

.toggle div:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle div:last-child{
    display: none;
}

.toggle:hover{
    opacity: 0.8;
  
}

.toggle[hidden] {
    display: none;
}

.toggle-text{
    display: none;
}

/* Container styles */

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
}

.arrow{
    margin: auto;
}

.arrow button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    img{
        height: 30px;
    }
}

.arrow button:hover{
    transform: scale(1.2);
}

/* Quote card styles */

.quote-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    border-radius: 10px;
    background-color: #E8F3E9;
    flex: 2;
    max-width: 800px;
} 

.card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.card-header button{
    background-color: #c8c8b1;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
}

.card-header button:hover{
    opacity: 0.8;
}

.card-header select{
    background-color: #c8c8b1;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    flex: 1;
    max-width: 350px;
}

.font-controls{
    margin: auto;
}

.card-body{
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 3rem;
}

#randomBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    width: 100%;
    font-size: 1rem;
}

#quote{ 
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
}

#author{
    font-weight: 400;
    text-align: right;
}


/* Dark theme styles */
.dark-theme{
    background-color: #2C2C2C;
    color: #E8F3E9;
}

.dark-theme .navbar {
    color: #E8F3E9;
    border-bottom: 1px solid #E8F3E9;
}

.dark-theme .toggle{
    border: 1px solid #E8F3E9;
    color: #E8F3E9;
}  

.dark-theme .toggle div:first-child{
    display: none;
}

.dark-theme .toggle div:last-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dark-theme #previousBtn img {
    filter: invert(1) brightness(2);
}

.dark-theme #nextBtn img  {
    filter: invert(1) brightness(2);
}

.dark-theme .quote-card{
    background-color: #555568;
}

.dark-theme .card-header select{
    background-color: #C6B7BE;
    border: 1px solid #E8F3E9;
}

.dark-theme .card-header button{
    background-color: #C6B7BE;
    border: 1px solid #E8F3E9;
}


@media screen and (min-width: 768px) {
    .navbar{
        padding: 1.5rem;
        padding-right: 2.5rem;;
    }

     .logo{
        position: absolute; 
        left: 50%; 
        transform: translateX(-50%);
    }

    .logo a {
        font-size: 2rem;
    }

    .container{
        padding: 5rem 1rem;
    }

    .arrow button{
        img{
            height: 50px;
        }
    }

    .quote-card{
        padding: 3rem;
    }

    .card-header {
        flex-wrap: wrap;
        gap:20px
    }

    .card-header button{
        padding: 2px 5px;
    }

    .card-header select{
        padding:5px 10px;
    }

    #randomBtn{
        max-width: 187px;
    }
    
}

@media screen and (min-width: 1024px) {
    .toggle-text{
        display: block;
    }

    .container{
        padding: 5rem 10rem;
    }
    
}