*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background-color: #FAFBF6;
}

.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1.5rem ;
    width: 100%;
    border-bottom: 1px solid #2C2C2C;
    color: black;
}

.navbar .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img{
    width: 2rem;
    height: 1.7rem;
}

.logo a{
    text-decoration: none;
    font-size:1.5rem;
    font-weight: bold;
    color: inherit;
}

.toggle{
    margin-left: auto;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 10px;
    background-color: inherit;
}

.toggle div:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle div:last-child{
    display: none;
}

.toggle:hover{
    opacity: 0.8;
  
}

.toggle[hidden] {
    display: none;
}

.toggle-text{
    display: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 5rem 1rem;
    margin-top: 6rem;
    background-color: salmon;
}

.container .arrow{
    background-color: inherit;
    border: none;
    cursor: pointer;
    
}

/* dark mode starts */
.dark-theme{
    background-color: #2C2C2C;
    color: #E8F3E9;
}

.dark-theme .navbar {
    color: #E8F3E9;
    border-bottom: 1px solid #E8F3E9;
}

.dark-theme .toggle{
    border: 1px solid #E8F3E9;
    color: #E8F3E9;
}  

.dark-theme .toggle div:first-child{
    display: none;
}

.dark-theme .toggle div:last-child{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* dark mode ends */

@media screen and (min-width: 768px) {
    .navbar{
        padding: 1.5rem;
        padding-right: 2.5rem;;
    }

     .logo{
        position: absolute; 
        left: 50%; 
        transform: translateX(-50%);
    }

    .logo a {
        font-size: 2rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .toggle-text{
        display: block;
    }
    
}